<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="../assets/css/uikit.min.css" />
        <link rel="stylesheet" href="../assets/css/styles.css">
        <!-- JS -->
        <script src="../assets/js/uikit.min.js"></script>
        <script src="../assets/js/all.js"></script>
        <title>IoT Development Competition</title>
    </head>
    <body uk-height-viewport class="dr-background-eec">
        <div class="uk-section-default uk-flex uk-flex-center uk-flex-middle" style="height: 20%; background: inherit">
            <div class="uk-text-center uk-text-uppercase dr-title dr-gradient">Electrical Engineering Competition</div>
        </div>
        <div class="uk-section-default uk-flex uk-flex-center uk-flex-top" style="height: 20%; background: inherit">
            <span style="font-size: 3rem; padding-right: 25px;" class="dr-transition">
                <a id="before-button" class="dr-button" style="color: #F7EB23">
                <i class="fas fa-caret-left"></i>
                </a>
            </span>
            <div class="uk-text-center uk-text-uppercase dr-subtitle dr-gradient">Presentasi</div>
            <span style="font-size: 3rem; padding-left: 25px" class="dr-transition">
                <a id="next-button" class="dr-button" style="color: #F26B35">
                <i class="fas fa-caret-right"></i>
                </a>
            </span>
        </div>    
        <div class="uk-section-default uk-flex uk-flex-center uk-flex-bottom" style="height: 30%; background: inherit">
            <div class="uk-flex uk-text-center" style="font-family: 'Roboto Mono', monospace; font-size: 250px; color: #F5BA0D; padding-bottom: 30px" id="time-display">
                <!-- div>00:00:10</div><div style="font-size: 100px; padding-bottom: 45px" class="uk-flex uk-flex-bottom">.000</div> -->
            </div>
        </div>
        <div class="uk-section-default uk-flex uk-flex-center uk-flex-middle" style="height: 30%;background: inherit">
            <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
                <a id="home-button" class="dr-button">
                <i class="fas fa-home"></i>
                <!-- <div class="uk-text-small uk-text-center uk-text-uppercase uk-text-bold">Home</div> -->
                </a>
            </span>
            <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
                <a id="reset-button" class="dr-button">
                <i class="fas fa-sync-alt"></i>
                <!-- <div class="uk-text-small uk-text-center uk-text-uppercase uk-text-bold">Reset</div> -->
                </a>
            </span>
            <div id="play-button-holder">
                <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
                    <a id="play-button" class="dr-button">
                    <i class="fas fa-play"></i>
                    <!-- <div class="uk-text-small uk-text-center uk-text-uppercase uk-text-bold">Play</div> -->
                    </a>
                </span>
            </div>
            <div id="pause-button-holder"  style="display: none">
                <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
                    <a id="pause-button" class="dr-button">
                    <i class="fas fa-pause"></i>
                    <!-- <div class="uk-text-small uk-text-center uk-text-uppercase uk-text-bold">Pause</div> -->
                    </a>
                </span>
            </div>
            <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
                <a id="edit-button" class="dr-button">
                <i class="fas fa-edit"></i>
                <!-- <div class="uk-text-small uk-text-center uk-text-uppercase uk-text-bold">Custom</div> -->
                </a>
            </span>

            <!-- == Reset Timer Modal == -->
            <div id="modal-reset-timer" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            
                    <button class="uk-modal-close-default" type="button" uk-close></button>
            
                    <h2 class="uk-modal-title dr-modal-title dr-reset-modal">Reset Timer?</h2>
                    <div class="uk-modal-footer uk-text-right">
                        <button id="button-reset-confirm" class="uk-button dr-modal-button uk-modal-close" type="button">Reset</button>
                        <button class="uk-button uk-modal-close dr-cancel-button" type="button">Cancel</button>
                    </div>
            
                </div>
            </div>
            <!-- == Edit Timer Modal == -->
            <div id="modal-edit-timer" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            
                    <button class="uk-modal-close-default" type="button" uk-close></button>
            
                    <h2 class="uk-modal-title dr-modal-title">Edit Timer?</h2>

                    <div class="uk-flex uk-flex-center dr-edit-input" style="background: inherit">
                        <input id="edit-timer-hours" class="uk-input uk-form-large uk-form-width-small uk-text-center" type="number" min="0" max="23" maxlength="2"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); if (this.value > this.max) this.value = this.max;" placeholder="hh" value="">
                        <div><h1> : </h1></div>
                        <input id="edit-timer-minutes" class="uk-input uk-form-large uk-form-width-small uk-text-center" type="number" min="0" max="59" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); if (this.value > this.max) this.value = this.max;" placeholder="mm" value="">
                        <div><h1> : </h1></div>
                        <input id="edit-timer-seconds" class="uk-input uk-form-large uk-form-width-small uk-text-center" type="number" min="0" max="59" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); if (this.value > this.max) this.value = this.max;" placeholder="ss" value="">
                    </div>

                    <div class="uk-modal-footer uk-text-right" style="background: inherit">
                        <button id="button-edit-confirm" class="uk-button dr-modal-button uk-modal-close" type="button">Edit</button>
                        <button class="uk-button uk-modal-close dr-cancel-button" type="button">Cancel</button>
                    </div>
            
                </div>
            </div>
        </div>
        <script src="../Controllers/EEC-Presentasi.js"></script>
    </body>
</html>