<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TODO : MAKE FontAwesome LOCAL -->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- UIkit JS -->
    <script src="../assets/js/uikit.min.js"></script>
    <title>IoT Development Competition</title>
</head>
<body uk-height-viewport class="dr-background-eec">
    <div class="uk-section-default uk-flex uk-flex-center uk-flex-middle" style="height: 30%;  background: inherit">
        <div class="uk-text-center uk-card-title" style="color: #F5BA0D; font-family: 'Quicksand', sans-serif; font-size: 75px; text-transform: uppercase">IoT Development Competition</div>
    </div>
    <div class="uk-section-default uk-flex uk-flex-center uk-flex-bottom" style="height: 40%; background: inherit">
        <div class="uk-flex uk-text-center" style="font-family: 'Roboto Mono', monospace; font-size: 250px; color: #F5BA0D; padding-bottom: 30px" id="time-holder">00:30:00</div>
    </div>
    <div class="uk-section-default uk-flex uk-flex-center uk-flex-middle" style="height: 30%;background: inherit">
        <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
            <a id="home-button" class="dr-button">
               <i class="fas fa-home"></i>
            </a>
        </span>
        <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
            <a id="reset-button" class="dr-button">
               <i class="fas fa-sync-alt"></i>
            </a>
        </span>
        <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
            <a id="edit-button" class="dr-button">
               <i class="fas fa-edit"></i>
            </a>
        </span>
        <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
            <a id="play-button" class="dr-button">
               <i class="fas fa-play"></i>
            </a>
        </span>
        <span style="font-size: 3rem; padding-right: 25px" class="dr-transition">
            <a id="pause-button" class="dr-button">
               <i class="fas fa-pause"></i>
            </a>
        </span>
    </div>
    <script>
        require('./../IoT.js');
    </script>
</body>
</html>