@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa\ Bold.otf") format("opentype");
}

html , body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

.dr-title {
    font-family: "Nexa";
    font-size: 70px;
}

.dr-subtitle {
    font-family: "Nexa";
    font-size: 3rem;   
}

.dr-gradient {
    background: -webkit-linear-gradient(left, #F7EB23 30%, #F26B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dr-card {
    padding: 12px;
    background-color: inherit;
    text-decoration: none !important;
}

.dr-card img {
    max-height: 150px;
    margin-bottom: 25px;
}

.dr-card-title {
    color: #F5BA0D !important; 
    font-family: 'Quicksand', sans-serif !important;
}

.dr-button {
    color: #F5BA0D;
    text-decoration: none !important;
}

.dr-button:hover {
    color: #F08119;
}

.dr-modal-title {
    font-family: "Nexa";
}

.dr-modal-button {
    flex: 1 1 auto;
    /* margin: 10px;
    padding: 30px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: "Nexa";
    /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #F26B35 100%); */
    background-image: -webkit-linear-gradient(left, #fda085 30%, #F26B35);
}

.dr-modal-button:hover {
    background-position: right center;
}

.dr-cancel-button {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: "Nexa";
    background-image: linear-gradient(to right, #2C5364 0%, #203A43 51%, #0F2027 100%);
}

.dr-cancel-button:hover {
    background-position: right center;
}

.dr-reset-modal {
    color: #FF0000 !important;
}

.dr-edit-input {
    font-family: "Roboto Mono";
}

.dr-edit-input input {
    margin: 0px 10px;
}


  
.dr-card-border:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}