@charset "UTF-16"; 
@import url('https://fonts.googleapis.com/css?family=Quicksand:500|Roboto+Mono:500');
@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa\ Bold.otf") format("opentype");
}

html , body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

.dr-title {
    font-family: "Nexa";
    font-size: 70px;
}

.dr-subtitle {
    font-family: "Nexa";
    font-size: 3rem;   
}

.dr-gradient {
    background: -webkit-linear-gradient(left, #F7EB23 30%, #F26B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dr-card {
    padding: 12px;
    background-color: inherit;
    text-decoration: none !important;
}

.dr-card img {
    max-height: 150px;
    margin-bottom: 25px;
}

.dr-card-title {
    color: #F5BA0D !important; 
    font-family: 'Quicksand', sans-serif !important;
}

.dr-button {
    color: #F5BA0D;
    text-decoration: none !important;
}

.dr-button:hover {
    color: #F08119;
}

.dr-modal-button {
    background-color: #FF0000;
    color: white;
}